<h1 class="text-accent text-9xl">top#index</h1>
<%= link_to t('defaults.guest_login'), guest_path,
    class: "inline-block bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-sm font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3",
    method: :post if current_user.nil? %>
