<div class="flex flex-col gap-1 py-4">
  <div class="flex items-center gap-2">
    <div class="w-8 h-8 bg-gray-100 rounded-full overflow-hidden shadow-lg">
      <%= image_tag comment.user.avatar_url, class: 'object-cover object-center' %>
    </div>
    <p class="block text-sm font-bold"><%= comment.user.name %></p>
  </div>
  <p><%= comment.body %></p>
</div>
