<%= form_with model: comment, url: [picture, comment], id: "js-comment-form", local: false do |f| %> 
  <div class="max-w-screen-md grid gap-1 mx-auto text-base">    
    <%= f.label :body, class:"inline-block" %>
    <%= f.text_area :body, id:"js-comment-body", class:"w-full h-18 bg-gray-50 border focus:ring ring-purple-300 rounded outline-none px-3 py-2" %>
    <div class="flex flex-col items-end">
      <%= f.submit t('defaults.post'), class:"bg-white px-2 py-1 text-yellow-500 border border-yellow-500 font-semibold rounded hover:bg-yellow-100" %>
    </div>
  </div>
<%end%>
