<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="mb-10 md:mb-10">
      <h2 class="text-2xl font-bold text-center lg:text-3xl mb-4 md:mb-6"><%= t('.title') %></h2>
      <% if @user.errors.any? %>
        <div class="max-w-screen-md mx-auto">
          <div class="text-red-700 bg-red-100 border border-red-400 rounded px-4 py-3" role="alert">
            <strong class="font-bold">Error!</strong><br />
            <ul class="block sm:inline">
              <% @user.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
    <%= render 'form', user: @user %>
  </div>
</div>



