<header class="bg-purple-400">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <%= link_to root_path, class: "flex title-font font-lg items-left text-white mb-5 md:mb-0" do %>
      <span class="font-semibold text-xl tracking-tight">らんてくりえーたー</span>
    <% end %>
    <nav class="md:ml-auto flex flex-wrap items-right text-white ">
      <%= link_to "ギャラリー", "#", class: 'mr-5 hover:text-yellow-500' %>
      <%= link_to "お絵かきする", "#", class: 'mr-5 hover:text-yellow-500' %>
      <%= link_to "ログイン", login_path, class: 'mr-5 has-child hover:text-yellow-500' %>
    </nav>
  </div>
</header>
