<button class="text-slate-500 background-transparent font-bold uppercase px-8 py-3 outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
  <%= link_to likes_path(picture_id: picture.id), id: "js-like-button-for-picture-#{picture.id}", method: :post do %>
    <i class="fas fa-heart"></i>
  <% end %>
</button>
