<div class='flex items-center'>
  <%= link_to new_picture_path(picture) do %>
    <%= image_tag 'rgtm2.png', size: '30x30' %>
  <% end %>
  <p class="text-runte-orange ml-1">    
    <%= picture.likes.count %>  
  </p> 
</div>
