<%= link_to like_path(current_user.likes.find_by(picture_id: picture.id)), id: "js-like-button-for-picture-#{picture.id}", method: :delete do %>
  <button class="text-pink-500 background-transparent font-bold uppercase px-8 py-3 outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
    <i class="fas fa-heart"></i>
  </button>
<% end %>
